body {
  font-family: "Merriweather", serif;
}

.logo {
  text-align: center;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

.logo-url {
  text-decoration: none;
}

.search-form {
  margin-top: 30px;
}

.js-search-form {
  text-align: center;
}

.js-user-input {
  width: 275px;
}

.js-search-btn {
  width: 100px;
  height: 20px;
  background: #4993e2;
  color: white;
  border: 1px;
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.js-search-btn:hover {
  background-color: #0077ff;
}

input:focus,
button:focus {
  border: 2px solid rgb(10, 92, 245);
}

.js-search-results {
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.error-message {
  display: none;
  text-align: center;
}

.extra-results {
  padding-top: 5px;
  padding-bottom: 5px;
}

.game-name {
  text-align: center;
  font-size: 3rem;
}

.platforms {
  text-align: center;
  list-style: none;
}

img {
  margin-bottom: 20px;
}

.game-description {
  text-align: center;
}

.game-details {
  display: block;
  text-align: center;
}

.live-stream-header {
  text-align: center;
}

.twitch-user {
  text-align: center;
  font-size: 1.2rem;
}

.twitch-viewers {
  text-align: center;
  font-size: 1.2rem;
}

.twitch-stream {
  padding-bottom: 20px;
}

.js-reset-btn {
  text-align: center;
}

.reset-btn {
  font-size: 16px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #007eff;
  color: white;
  border: 1px;
}
