.logo { 
    text-align: center;
    font-size: 5rem; 
}

.js-search-form {
    text-align: center;
}

.game-name {
    text-align: center;
    font-size: 3rem; 
}

.platforms {
    text-align: center; 
    list-style: none; 
}

img {
    margin-bottom: 20px; 
}

.game-details {
    display: block;
    text-align: center; 
}

.live-stream-header {
    text-align: center; 
}

.twitch-user {
    text-align: center; 
    font-size: 1.2rem,
}

.twitch-viewers {
    text-align: center;
    font-size: 1.2rem, 
}

.twitch-stream {
    text-align: center; 
}

.reset-btn-container {
    text-align: center; 
}